[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Vendor/MessageUIAdditions"]
	path = Vendor/MessageUIAdditions
	url = git://github.com/tijoinc/MessageUIAdditions.git
